.title {
  background: url("/images/mountains.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10%;
  width: 100%;
  height: 600px;
}

.events {
  margin-top: 15%;
  margin-left: 31%;
}

h4.events {
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.64);
}
